[submodule "packages/app"]
	path = packages/app
	url = https://github.com/JoanGoAl/repo_front_JoanGoAl.git
[submodule "packages/server"]
	path = packages/server
	url = https://github.com/JoanGoAl/repo_back_JoanGoAl.git
